<app-header></app-header>

<section id="about">
    <h1>About</h1>
  <div class="about"> 
      <div class="about-us scrollTrigger" id="aboutUs">
          <img class="about-model" src="images/model.jpg">
          <h3>Discover more about us</h3>
      </div>

      <div class="about-info">
          <div>
              <img class="about-img" src="images/eye.png" alt="vision">
              <h3>
                  Our Vision
              </h3>
              <p>
                  Our vision is to be completely involved in discovering, promoting and managing a wide
                  array of talents with different niche in the entertainment industry.

              </p>
              style="border-bottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto;">

          </div>

          <div>
              <img class="about-img" src="images/mission.png" alt="vision">
              <h3>
                  Our Mission
              </h3>
              <p>
                  Our mission is to build a talent management agency that will become the leading talent
                  management agency in the whole of South Africa and in the nearest future compete with
                  leaders in the industry not only in South Africa but also on a global stage.
              </p>
              ottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto
          </div>

          <div>
              <img class="about-img" src="images/request.png" alt="vision">
              <h3>
                  Why choose us?
              </h3>
              <p>
                  We ensure that we hire people that are qualified, hardworking,
                  creative, customer centric and are ready to work to help us build a prosperous business
                  that will benefit all of the stake holders.
              </p>
              
          </div>
      </div>
  </div>
</section>

<section>
  <h1>Our Feed</h1>
  <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="6189" view-url="https://widget.tagembed.com/6189?view">  </div> <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
</section>

<section id="about">
    <h1>About</h1>
  <div class="about"> 
      <div class="about-us scrollTrigger" id="aboutUs">
          <img class="about-model" src="images/model.jpg">
          <h3>Discover more about us</h3>
      </div>

      <div class="about-info">
          <div>
              <img class="about-img" src="images/eye.png" alt="vision">
              <h3>
                  Our Vision
              </h3>
              <p>
                  Our vision is to be completely involved in discovering, promoting and managing a wide
                  array of talents with different niche in the entertainment industry.

              </p>
              style="border-bottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto;">

          </div>

          <div>
              <img class="about-img" src="images/mission.png" alt="vision">
              <h3>
                  Our Mission
              </h3>
              <p>
                  Our mission is to build a talent management agency that will become the leading talent
                  management agency in the whole of South Africa and in the nearest future compete with
                  leaders in the industry not only in South Africa but also on a global stage.
              </p>
              ottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto
          </div>

          <div>
              <img class="about-img" src="images/request.png" alt="vision">
              <h3>
                  Why choose us?
              </h3>
              <p>
                  We ensure that we hire people that are qualified, hardworking,
                  creative, customer centric and are ready to work to help us build a prosperous business
                  that will benefit all of the stake holders.
              </p>
              
          </div>
      </div>
  </div>
</section>

<section>
  <h1>Our Feed</h1>
  <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="6189" view-url="https://widget.tagembed.com/6189?view">  </div> <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
</section>

<section id="about">
    <h1>About</h1>
  <div class="about"> 
      <div class="about-us scrollTrigger" id="aboutUs">
          <img class="about-model" src="images/model.jpg">
          <h3>Discover more about us</h3>
      </div>

      <div class="about-info">
          <div>
              <img class="about-img" src="images/eye.png" alt="vision">
              <h3>
                  Our Vision
              </h3>
              <p>
                  Our vision is to be completely involved in discovering, promoting and managing a wide
                  array of talents with different niche in the entertainment industry.

              </p>
              style="border-bottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto;">

          </div>

          <div>
              <img class="about-img" src="images/mission.png" alt="vision">
              <h3>
                  Our Mission
              </h3>
              <p>
                  Our mission is to build a talent management agency that will become the leading talent
                  management agency in the whole of South Africa and in the nearest future compete with
                  leaders in the industry not only in South Africa but also on a global stage.
              </p>
              ottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto
          </div>

          <div>
              <img class="about-img" src="images/request.png" alt="vision">
              <h3>
                  Why choose us?
              </h3>
              <p>
                  We ensure that we hire people that are qualified, hardworking,
                  creative, customer centric and are ready to work to help us build a prosperous business
                  that will benefit all of the stake holders.
              </p>
              
          </div>
      </div>
  </div>
</section>

<section>
  <h1>Our Feed</h1>
  <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="6189" view-url="https://widget.tagembed.com/6189?view">  </div> <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
</section>

<section id="about">
    <h1>About</h1>
  <div class="about"> 
      <div class="about-us scrollTrigger" id="aboutUs">
          <img class="about-model" src="images/model.jpg">
          <h3>Discover more about us</h3>
      </div>

      <div class="about-info">
          <div>
              <img class="about-img" src="images/eye.png" alt="vision">
              <h3>
                  Our Vision
              </h3>
              <p>
                  Our vision is to be completely involved in discovering, promoting and managing a wide
                  array of talents with different niche in the entertainment industry.

              </p>
              style="border-bottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto;">

          </div>

          <div>
              <img class="about-img" src="images/mission.png" alt="vision">
              <h3>
                  Our Mission
              </h3>
              <p>
                  Our mission is to build a talent management agency that will become the leading talent
                  management agency in the whole of South Africa and in the nearest future compete with
                  leaders in the industry not only in South Africa but also on a global stage.
              </p>
              ottom: 5px dimgrey dashed; width: 20%; margin: 1rem auto
          </div>

          <div>
              <img class="about-img" src="images/request.png" alt="vision">
              <h3>
                  Why choose us?
              </h3>
              <p>
                  We ensure that we hire people that are qualified, hardworking,
                  creative, customer centric and are ready to work to help us build a prosperous business
                  that will benefit all of the stake holders.
              </p>
              
          </div>
      </div>
  </div>
</section>

<section>
  <h1>Our Feed</h1>
  <div class="tagembed-container" style=" width:100%;height:100%;overflow: auto;"><div class="tagembed-socialwall" data-wall-id="6189" view-url="https://widget.tagembed.com/6189?view">  </div> <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script></div>
</section>